$light: #fff;
$dark: #000;
$orangeText: #fc7526;
$lightOrange: #ffa777;
$grayText: #626262;
$grayText2: #626267;
$btnBorder: #959595;
$btnTextColor: #333;
$borderColor: #dcdcdc;
$accordionText: #222;
$accordionHover: #fff9ea;
$faqBorder: #aaa;
$lighterGray: #ccc;
$wcBlue: #84d2e0;
$lightBlue: #b4e2ea;
$footerBg: #fff9ea;
$red: #ff4141;
$red2: #e91d52;
$burgerSpan: #8d8d8d;
$peach: #ffe59e;
$radioBtn: #f4f4f4;
$radioBorder: #b4b4b4;