*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Noto Sans JP',"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  color: #626262;
  background: #fff;
}
.pc{
  display: block;
}
.sp{
  display: none;
}